@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

body {
  background: #140f1d;
}

.coin-text {
  text-align: center;
  color: #ffd52d;
  animation: fadeInLeft 1.5s;
}

#coin-search {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 40em;
  height: 3em;
  background-color: #140f1d;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffd52d;
  color: #ffd52d;
  font-size: 1rem;
  animation: fadeInLeft 1.5s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
